# {{ ansible_managed }}
WORDPRESS_DB_HOST=wordpress-db
WORDPRESS_DB_NAME={{ service_wordpress_db_name }}
WORDPRESS_DB_USER={{ service_wordpress_db_user }}
WORDPRESS_DB_PASSWORD={{ service_wordpress_db_password }}
