# {{ ansible_managed }}
MARIADB_DATABASE={{ service_wordpress_db_name }}
MARIADB_USER={{ service_wordpress_db_user }}
MARIADB_PASSWORD={{ service_wordpress_db_password }}
MARIADB_ROOT_PASSWORD={{ service_wordpress_db_root_password }}
