# {{ ansible_managed }}
# journald configuration managed by Ansible

[Journal]
Storage=persistent
Compress=yes
SystemMaxUse={{ baseline_config_journald_max_use }}
SystemMaxFileSize={{ baseline_config_journald_max_file_size }}
MaxRetentionSec={{ baseline_config_journald_retention }}
ForwardToSyslog=yes
