---
- name: Restart sshd
  ansible.builtin.systemd:
    name: ssh
    state: restarted

- name: Restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted

- name: Restart systemd-timesyncd
  ansible.builtin.systemd:
    name: systemd-timesyncd
    state: restarted

- name: Reload sysctl
  ansible.builtin.command:
    cmd: sysctl --system
  changed_when: false

- name: Reload ufw
  community.general.ufw:
    state: reloaded

- name: Restart systemd-journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted
