# {{ ansible_managed }}
PUBLIC_URL=https://{{ service_jitsi_domain }}
TZ={{ service_jitsi_timezone }}

# XMPP domains
XMPP_DOMAIN={{ service_jitsi_xmpp_domain }}
XMPP_AUTH_DOMAIN={{ service_jitsi_xmpp_auth_domain }}
XMPP_GUEST_DOMAIN={{ service_jitsi_xmpp_guest_domain }}
XMPP_MUC_DOMAIN={{ service_jitsi_xmpp_muc_domain }}
XMPP_INTERNAL_MUC_DOMAIN={{ service_jitsi_xmpp_internal_muc_domain }}

# Authentication
JICOFO_AUTH_PASSWORD={{ service_jitsi_jicofo_auth_password }}
JVB_AUTH_PASSWORD={{ service_jitsi_jvb_auth_password }}
{% if service_jitsi_oidc_enabled %}
ENABLE_AUTH=1
AUTH_TYPE=jwt
TOKEN_AUTH_URL=https://{{ service_jitsi_domain }}/oidc/{room}
JWT_APP_ID={{ service_jitsi_oidc_client_id }}
JWT_APP_SECRET={{ service_jitsi_jwt_secret }}
ENABLE_GUESTS=1
{% elif service_jitsi_enable_auth %}
ENABLE_AUTH=1
AUTH_TYPE={{ service_jitsi_auth_type }}
ENABLE_GUESTS=1
{% endif %}

# JVB
JVB_PORT={{ service_jitsi_jvb_port }}
JVB_STUN_SERVERS={{ service_jitsi_stun_servers }}

# Features
ENABLE_COLIBRI_WEBSOCKET=1
ENABLE_XMPP_WEBSOCKET=1
