# {{ ansible_managed }}
PAPERLESS_DBHOST=paperless-db
PAPERLESS_DBNAME={{ service_paperless_db_name }}
PAPERLESS_DBUSER={{ service_paperless_db_user }}
PAPERLESS_DBPASS={{ service_paperless_db_password }}
PAPERLESS_REDIS=redis://paperless-redis:6379
PAPERLESS_SECRET_KEY={{ service_paperless_secret_key }}
PAPERLESS_ADMIN_USER={{ service_paperless_admin_user }}
PAPERLESS_ADMIN_PASSWORD={{ service_paperless_admin_password }}
PAPERLESS_URL=https://{{ service_paperless_domain }}
PAPERLESS_OCR_LANGUAGE={{ service_paperless_ocr_language }}
{% if service_paperless_oidc_enabled %}
PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect
PAPERLESS_SOCIALACCOUNT_PROVIDERS={"openid_connect":{"APPS":[{"provider_id":"authelia","name":"Authelia","client_id":"{{ service_paperless_oidc_client_id }}","secret":"{{ service_paperless_oidc_client_secret }}","settings":{"server_url":"{{ service_paperless_oidc_provider_url }}/.well-known/openid-configuration"}}]}}
{% endif %}
