# {{ ansible_managed }}
services:
  caddy:
    image: {{ caddy_image }}
    container_name: caddy
    restart: unless-stopped
    ports:
      - "{{ caddy_http_port }}:80"
      - "{{ caddy_https_port }}:443"
      - "{{ caddy_https_port }}:443/udp"
    volumes:
      - {{ caddy_base_dir }}/Caddyfile:/etc/caddy/Caddyfile:ro
      - {{ caddy_base_dir }}/sites:/etc/caddy/sites:ro
      - {{ caddy_base_dir }}/data:/data
      - {{ caddy_base_dir }}/config:/config
    networks:
      - {{ caddy_network }}

networks:
  {{ caddy_network }}:
    external: true
