---
- name: Install Fail2ban
  ansible.builtin.apt:
    name: fail2ban
    state: present
    update_cache: true

- name: Deploy Fail2ban jail configuration
  ansible.builtin.template:
    src: fail2ban_jail_local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: "0644"
  notify: Restart fail2ban

- name: Enable and start Fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    enabled: true
    state: started
