---
- name: Timesyncd konfigurieren
  ansible.builtin.template:
    src: timesyncd.conf.j2
    dest: /etc/systemd/timesyncd.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart systemd-timesyncd

- name: Timesyncd aktivieren und starten
  ansible.builtin.systemd:
    name: systemd-timesyncd
    enabled: true
    state: started
